<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>846078481098-k75a5u2o9u5p3421pbnngehfqjhgg5so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846078481098-k75a5u2o9u5p3421pbnngehfqjhgg5so</string>
	<key>API_KEY</key>
	<string>AIzaSyCbwlM3mBoicTa9VuZMDLEsQKIFT120tAk</string>
	<key>GCM_SENDER_ID</key>
	<string>846078481098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Riddle.WTWApp2</string>
	<key>PROJECT_ID</key>
	<string>wtwapp2-1492026182386</string>
	<key>STORAGE_BUCKET</key>
	<string>wtwapp2-1492026182386.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:846078481098:ios:696730dd65e294f0</string>
	<key>DATABASE_URL</key>
	<string>https://wtwapp2-1492026182386.firebaseio.com</string>
</dict>
</plist>